<%- include("header") -%>
<body>
  <div class="container">
    <div class="container__1">
      <h1
        class="title"
        style="
          color: aqua;
          font-size: 35px;
          text-shadow: 1px 2px 3px rgb(236, 197, 197);
        "
      >
        Voice-Notes
      </h1>
      <form action="/add" method="POST">
        <textarea
          id="text-area"
          type="text"
          name="notecontent"
          required
        ></textarea>
        <p>Live : <span id="interim_span" style="color: grey;"></span></p>

        <div class="button__wrapper">
          <button
            class="btn btn-primary"
            id="start-record"
            type="button"
            onclick="toggleStartStop()"
          >
            Record Audio
          </button>

          <button class="btn btn-primary" type="submit">Add</button>
        </div>
      </form>
    </div>

    <!-- NOTES -->
    <div class="saved-notes">
      <h2
        style="
          color: aqua;
          font-size: 30px;
          text-shadow: 1px 2px 3px rgb(236, 197, 197);
        "
      >
        Saved Notes
      </h2>
      <ul>
        <% noteslist.forEach(note => { %>
        <li>
          <p class="note-content"><%= note.content %></p>

          <div class="delete">
            <form action="/delete" method="post">
              <input
                type="checkbox"
                name="checkbox"
                value="<%=note._id%>"
                onChange="this.form.submit()"
                id="cross<%=note._id%>"
                style="display: none;"
                autocomplete="off"
              />
              <button
                class="btn btn-listen"
                onclick="listen('<%= note.content %>')"
              >
                Listen
              </button>
              <label
                for="cross<%=note._id%>"
                style="cursor: pointer;"
                data-toggle="tooltip"
                title="Delete note"
              >
                <i class="fas fa-times" style="color: red;"></i
              ></label>
            </form>
          </div>
        </li>
        <% }) %>
      </ul>
    </div>
  </div>
  <script src="js/index.js"></script>
</body>
